---
layout: default
permalink: /meetups/archive
---


<div class='meetup-course-selector'>
  <a href='/meetups/sessions'>Current Sessions</a>
  <strong>Archive</strong>
</div>

<p>
  These are the course materials for our advanced study group, which started in June 2015.
  This group is now advanced enough to take on their own projects.
  This curriculum page is not being updated regularly anymore and serves mainly archival purpose.
</p>

<p>
  Please also check out <a href="http://ruby-for-beginners.rubymonstas.org/">curriculum of our Berlin colleagues</a>.
</p>

{% for session in site.data.advanced_sessions %}
  {% include session.html session=session %}
{% endfor %}
