---
layout: default
permalink: /meetups/beginners
---


<div class='meetup-course-selector'>
  <strong>Beginners</strong>
  <a href='/meetups/advanced'>Advanced</a>
</div>

<p>
  These are the course materials for our beginners study group, which started in May 2016.
  The page gets updated regularly with new materials as the course goes on.
</p>

<p>
  Please also check out the <a href="http://ruby-for-beginners.rubymonstas.org/">curriculum of our Berlin colleagues</a>.
</p>

{% for session in site.data.beginner_sessions %}
  {% include session.html session=session %}
{% endfor %}
