---
layout: default
permalink: /meetups/sessions
---


<div class='meetup-course-selector'>
  <strong>Current Sessions</strong>
  <a href='/meetups/archive'>Archive</a>
</div>

<p>
  These are the course materials for our beginners study group, which started in October 2016.
  The page gets updated regularly with new materials as the course goes on.
</p>

<p>
  Please also check out the <a href="http://ruby-for-beginners.rubymonstas.org/">curriculum of our Berlin colleagues</a>.
</p>

{% for session in site.data.current_sessions %}
  {% include session.html session=session %}
{% endfor %}
