---
layout: default
permalink: /lessons
---

<p>
  This page contains all of the materials for our lessons. We've done this course multiple times in the past (the first time in June 2015).
  Please refer to <a href="https://www.meetup.com/RubyMonstas-Programming-for-Women/">our Meetup page</a> to join us on a Monday.
  Where and when we meet you can see on the meetup page as well.
</p>

<p>
  Please also check out the <a href="http://ruby-for-beginners.rubymonstas.org/">curriculum of our Berlin colleagues</a>.
</p>

<p>
  Other recommended sources of Ruby materials are <a href="http://poignant.guide/book/">_why's poignant guide to Ruby</a>
  and <a href="https://learnrubythehardway.org/book/">Learn Ruby the Hard Way</a>.
</p>

<p>
  A more general list of recommended resources (online courses, books, tutorials and more) can be found in this blog post: <a href="https://www.leighhalliday.com/best-ruby-and-ruby-on-rails-resources">Leigh Halliday: Best Ruby &amp; Ruby on Rails Resources</a>
</p>

{% for lesson in site.data.lessons %}
  {% include lesson.html lesson=lesson %}
{% endfor %}
