---
layout: default
permalink: /meetups/sessions
---

<p>
  This page is our session archive. We've done this course multiple times in the past (the first time in June 2015).
  Please refer to <a href="https://www.meetup.com/RubyMonstas-Programming-for-Women/">our Meetup page</a> to see which session
  we're currently at or just join us on a Monday. Where and when we meet you can see on the meetup page as well.
</p>

<p>
  Please also check out the <a href="http://ruby-for-beginners.rubymonstas.org/">curriculum of our Berlin colleagues</a>.
</p>

<p>
  Other recommended sources of Ruby materials are <a href="http://poignant.guide/book/">_why's poignant guide to Ruby</a>
  and <a href="https://learnrubythehardway.org/book/">Learn Ruby the Hard Way</a>.
</p>

{% for session in site.data.sessions %}
  {% include session.html session=session %}
{% endfor %}
