---
layout: default
---

<p class='align-center'>A round of applause for our lovely team, please!</p>

{% for member in site.data.members %}
  <div class='member'>
    <div class='profile-img placeholder-img-{{member.gender}}'></div>
    <div class='name'><strong>{{member.name}}</strong></div>
    <div class='name'>{{member.role}}</div>
    {% if member.twitter_username %}
      <a href="https://twitter.com/{{member.twitter_username}}" class='twitter-username'>@{{member.twitter_username}}</a>
    {% endif %}
  </div>
{% endfor %}

<div class='clearfix'>
  <strong>Do you want to join our team?</strong>
  <p>
    If you want to join our team or help us out in any other way, please feel
    free to contact us on <a href="https://twitter.com/rubymonstas_ch">Twitter</a>!
  </p>
</div>