<div class="hint">
  <p>
    For these exercises, you will use your <b>editor</b> (Visual Studio Code or similar).
  </p>

  <p>
    First, create an empty file with a meaningful name for this exercise, for example <code class="highlighter-rouge">{{ file_name }}.rb</code>. Note the file extension <code class="highlighter-rouge">.rb</code>! Also remember what folder you saved your file in. It makes sense to create a folder for each lesson of the course.
  </p>

  <p>
    Then, use <code class="highlighter-rouge">cd</code> in the command line to change to that folder. When you run <code class="highlighter-rouge">ls</code> you should see your file there.
  </p>

  <p>
    Now you can run your Ruby program with <code class="highlighter-rouge">ruby {{ file_name }}.rb</code> in the command line.
  </p>

  <p>
    Repeat the above steps and remember to <b>save</b> your file in the editor before running it!
  </p>
</div>
