<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Ruby Monstas Zürich</title>
  <link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ '/css/print.css' | prepend: site.baseurl }}" type="text/css" media="print" />
  <link rel="stylesheet" href="{{ '/css/highlight-pygments-default.css' | prepend: site.baseurl }}" type="text/css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
</head>
<body>
  <div class='col-mascotte'>

  </div>
  <div class='col-content'>
    <div class='content {{ include.content_variant }}'>
      <div class='logo'>
        <img src="/assets/logo.png">
      </div>

      <nav class='site-navigation'>
        <a href="/">Home</a>
        <a href="/lessons">Lessons</a>
        <a href="/location">Location</a>
        <a href="/meet">Meet</a>
        <a href="/code">Code</a>
      </nav>
