<div class='lesson'>
  <h2>#{{lesson.number}}
    <small>
      {{lesson.topic}}
    </small>
  </h2>

  <p>{{lesson.description}}</p>

  <ul>
    {% for slide in lesson.slides %}
      <li><a href="http://rubymonstas.ch/slides.rubymonstas.ch/slides/{{slide[0]}}/">Slides: {{ slide[1] }}</a> (<a href="https://github.com/rubymonstas-zurich/slides.rubymonstas.ch/releases/latest/download/{{slide[0]}}.pdf">PDF</a>)</li>
    {% endfor %}
  </ul>

  <ul>
    {% for exercise in lesson.exercises %}
      <li><a href="/exercises/{{ lesson.number }}/{{ exercise[0] }}">Exercises: {{ exercise[1] }}</a></li>
    {% endfor %}
  </ul>

  <ul>
    {% for cheat_sheet in lesson.cheat_sheets %}
      <li><a href="/cheat_sheets/{{ cheat_sheet[0] }}">Cheat Sheet: {{ cheat_sheet[1] }}</a></li>
    {% endfor %}
  </ul>

  <ul>
    {% for line in lesson.additional_materials %}
      <li>Additional materials: {{line}}</li>
    {% endfor %}
  </ul>
</div>
