<div class='session'>
  <h2>#{{session.number}}
    <small>
      {{session.topic}}
    </small>
  </h2>
  <ul>
    {% for slide in session.slides %}
      <li><a href="http://rubymonstas.ch/slides.rubymonstas.ch/slides/{{slide[0]}}/">{{ slide[1] }}</a> (<a href="https://github.com/rubymonstas-zurich/slides.rubymonstas.ch/releases/latest/download/{{slide[0]}}.pdf">PDF</a>)</li>
    {% endfor %}
  </ul>
  <ul>
    {% for line in session.description %}
      <li>{{line}}</li>
    {% endfor %}
  </ul>
</div>
