.cheat-sheet {
  table {
    width: 100%;
    border-collapse: collapse;

    tr {
      td {
        border: solid 1px #BBBBBB;
      }
    }
  }
}

pre.highlight {
  padding: 0.5rem;
  background-color: #eee;
}

h3 {
  font-size: 1.6rem;
  margin-top: 4rem;
  letter-spacing: 0.05rem;
}

figure.highlight {
  margin: 5px;
  
  pre {
    margin: 5px;
  }
}

span.pre {
  font-family: monospace;
}
