.exercise {
  ol {
    padding-left: 1.8em;

    li {
      margin: 20px 0px 10px 0px;
      padding-left: 10px;
    }

    li::marker {
      font-weight: bold;
    }
  }

  .hint {
    padding: 0px 10px;
    border: solid 2px gray;
    margin-bottom: 10px;
  }

  .box {
    padding: 0px 10px;
    border: solid 1px black;
    margin: 10px 0px;
  }
}
