.exercise {
  ol {
    padding-left: 1.8em;

    li {
      margin: 20px 0px 10px 0px;
      padding-left: 10px;
    }

    li::marker {
      font-weight: bold;
    }
  }

  .hint {
    padding: 0px 10px;
    border: solid 2px gray;
    margin-bottom: 10px;
  }

  .box {
    padding: 0px 10px;
    border: solid 1px black;
    margin: 10px 0px;
  }

  table {
    width: 100%;
    border-collapse: collapse;

    tr {
      td {
        border: solid 1px #BBBBBB;
      }
    }
  }

  img {
    max-width: 100%;
  }

  .language-plaintext {
    color: #fd4040;
  }

  kbd {
    background-color: #3d3d3d;
    color: white;
    border-radius: 5px;
    padding: 3px 10px;
  }
}
