.join-link, .join-link:visited {
  text-align: center;
  box-sizing: border-box;
  display: inline-block;
  margin-top: 26px;
  max-width: 420px;
  width: 100%;
  font-size: 22px;
  border-radius: 3px;
  background-color: rgb(217, 16, 10);
  border: none; 
  color: white;
  padding: 18px 18px;
  outline: none;
  -webkit-box-shadow: 0px 3px 0px 0px #961410;
  -moz-box-shadow: 0px 3px 0px 0px #961410;
  box-shadow: 0px 3px 0px 0px #961410;
}

.join-link:hover {
  background-color: rgb(171, 18, 13);
  color: white;
  text-decoration: none;
}
