.meetup-course-selector {
  margin-bottom: 20px;
  background: #f3f3f3;

  & > * {
    padding: 10px;
    width: 50%;
    float: left;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
  }

  &:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
  }
}
