.member {
  width: 50%;
  text-align: center;
  float: left;
  height: 240px;

  .profile-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-position: center;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}
