.topic {
  padding: 10px 0;
}

.topic + .topic {
  border-top: 1px solid #bbb;
}

.topic small {
  font-weight: normal;
  color: gray;
  font-size: 16px;

  & a {
    color: gray;
    text-decoration: underline;
  }

  & a:hover {
    text-decoration: none;
  }
}
