<% if @date %>
<h1>The following happened on <%=@date%>:</h1>
<% else %>
<h1>Our curriculum:</h1>
<% end %>


<ul>
  <% case @date %>
    <% when Date.parse('2015-09-28') %>
      <li>Session 15: HTML</li>
    <% when Date.parse('2015-10-5') %>
      <li>Session 16: ERB &amp; CSS</li>
    <% when Date.parse('2015-10-12') %>
      <li>Session 17: Apero</li>
    <% when Date.parse('2015-10-19') %>
      <li>Session 18: Rubygems &amp; Bundler</li>
    <% when Date.parse('2015-10-26') %>
      <li>Session 19: Webapps with Sinatra</li>
  <% end %>
</ul>